<div class="bg-gray-900">
  <div class="mx-auto max-w-7xl">
    <div class="bg-gray-900 py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1
              class="text-base font-semibold leading-6 text-white"
            >Products</h1>
            <p class="mt-2 text-sm text-gray-300">
              A list of all the products in your account including their title,
              id, description and price.</p>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button
              type="button"
              id="btnAddProduct"
              class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >Add product</button>
          </div>
        </div>
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
              <table class="min-w-full divide-y divide-gray-700">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0"
                    >Title</th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-white"
                    >Id</th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-white"
                    >Description</th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-white"
                    >Price</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                      <span class="sr-only">Delete</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-800">
                  {{#each payload}}
                    <tr>
                      <td
                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-0"
                      >{{this.title}}</td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-300"
                      >{{this._id}}</td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-300"
                      >{{this.description}}</td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-300"
                      >{{this.price}}</td>
                      <td
                        class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0"
                      >
                        <button
                          type="button"
                          data-id={{this._id}}
                          class="text-red-400 hover:text-red-300 btnDelete"
                        >Delete<span
                            class="sr-only"
                          >{{this._id}}</span></button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
                <nav class="flex items-center justify-between border-t border-white bg-gray-900 px-4 py-3 sm:px-6" aria-label="Pagination">
                  <div class="hidden sm:block">
                    <p class="text-sm text-white">
                      Showing
                      <span class="font-medium">{{page}}</span>
                      of
                      <span class="font-medium">{{totalPages}}</span>
                      pages
                    </p>
                  </div>
                  <div class="flex flex-1 justify-between sm:justify-end">
                    <a href="{{prevLink}}" role="button" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 {{#unless hasPrevPage}}opacity-50 cursor-not-allowed pointer-events-none{{/unless}}">Previous</a>
                    <a href="{{nextLink}}" role="button" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 {{#unless hasNextPage}}opacity-50 cursor-not-allowed pointer-events-none{{/unless}}">Next</a>
                  </div>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>